<h3>Login page</h3>
<nav class="navbar navbar-dark bg-dark">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " routerLink="/Home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/AboutUs" routerLinkActive="active">AboutUs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/ContactUs" routerLinkActive="active">ContactUs</a>
            </li>

            <div>

                <ul class="nav navbar-nav">
                    <li *ngIf="!loggedin()" class="nav-item">
                        <a class="nav-link " routerLink="/CreateAccount" routerLinkActive="active">CreateAccount</a>
                    </li>
                    <li *ngIf="!loggedin()" class="nav-item">
                        <a class="nav-link " routerLink="/Login" routerLinkActive="active">Login</a>
                    </li>
                    <li *ngIf="loggedin" class="nav-item">
                        <a class="nav-link " (click)="onLogout()">Logout</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>



</nav>